<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista wydatków</title>

    <!-- it works because styles are in 'public' and in 'index.js' we added '/public' so it's server everything well and make available -->
    <!-- <link rel="stylesheet" href="./styles.css" /> -->
    <link rel="stylesheet" href="./categoryList.css" />
  </head>

  <body>
    <header>
      <a href="./">
        <img src="./asset/blue200x87.png" />
      </a>
    </header>

    <h1>Kategorie budżetu</h1>

    <% categories.forEach(cat => { %>
    <div class="category">
      <span class="code"><%= cat.code %></span>
      <span class="name"><%= cat.name %></span>
    </div>

    <% if (cat.children && cat.children.length > 0) { %> <%
    cat.children.forEach(sub => { %>
    <div class="subcategory">
      <span class="code">↳</span>
      <span class="name"><%= sub.name %></span>
    </div>
    <% }) %> <% } else { %>
    <div class="subcategory" style="color: #aaa">Brak podkategorii</div>
    <% } %> <% }) %>
  </body>
</html>
