/* max dla telefonu */
@media only screen and (min-width: 300px) and (max-width: 5512px) {
  h1 {
    font-size: 3.5rem;
    text-align: center;
    padding-top: 30px;
  }

  a {
    padding: 10px;
  }

  .actionsFlexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    font-size: 1.5rem;
  }

  form > div > label {
    font-size: 2rem;
  }

  form > div > input {
    width: 15em;
    height: 40px;
  }

  /* button zapisz wydatek */
  .button {
    background-color: #04aa6d; /* Green */
    border: none;
    color: white;
    /* text-align: center; */
    /* text-decoration: none; */
    display: inline-block;
    font-size: 0.8em;
    /* margin: 4px 2px; */
    cursor: pointer;
  }

  .outcomeFormSaveOutcome {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .outcomeFormFlex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding-top: 10px;
    align-items: flex-start;
  }
}

/* //not supported yet */
@media only screen and (min-width: 513px) and (max-width: 5024px) {
  body {
    background-color: grey;
  }
  .logoAndBar {
    max-width: 100%;
    max-height: 100%;
  }
}
